createdAt: "2018-06-23T23:42:09.762Z"
updatedAt: "2018-07-19T01:31:30.710Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "Explaination of how I should organize my work."
content: '''
  Explaination of how I should organize my work.
  
  **WIKI** contains information such as passwords (infura) and info on academic work, in theory I could recycle a lot of the content.
  
  **BLOG** Contains thoughts on interesting projects I work on and perhaps processes on workterms, but that is confidential, so be more clear.
  
  **Notes** Essentially a task list with smaller details.
  
  #### Links to Look at for June 2018
  - [ ] ([Show and Tell - Community Thread 🎉 - Dash - Plotly Forum](https://community.plot.ly/t/show-and-tell-community-thread/7554))
  - [ ] [GitHub - plotly/dash-object-detection: Dash Demo App - Object Detection Application, using MobileNet v1](https://github.com/plotly/dash-object-detection)
  - [ ] Get a community truffle box working if that means I need to install in linux and port to windows, hmm that's not going to work.
  
  
  ::: warning cool
  :::
'''
tags: []
isStarred: false
isTrashed: false
