createdAt: "2018-07-19T01:25:14.343Z"
updatedAt: "2018-07-19T05:21:11.592Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "Current Tasks"
content: '''
  # Current Tasks
  keep adding new entries to the top
  
  ## July-August
  ### Todo List July and Onward
  
  !!! error Current Tasks Highest priority
  **Current tasks** get done quickly.
  - [ ] finishing the  ENGR 446 Report
  - [ ] Reading documentation for IOT in both markdown and latex.
  - [ ] Get vuepress theme working for boostnote, compiling and running vuepress from gitlab, so two jobs, one to compile the "docs" folder or other files, and then another to build the vuepress theme and then create static documentation. If boostnote html export is fixed soon, I can import google material icons better and get this working.
  !!!
  
  !!! danger Major Backlog
  The tasks listed below are expected to be done by the end of the term.
  - [ ] cool [firebase Vue Dapp](https://medium.com/@sebinatx/building-an-ethereum-firebase-user-profile-dapp-part-2-226bcc11ae62, ) 
  - [ ] Soldiity contracts repo for games, explaining how to use then and more.
  - [ ] Fix python script on gitlab, auto sending reports to self, with probably jinja based format and maybe latex output.
  !!!
  
  !!! caution Minor Backlog
  The tasks listed below are expected to be done by the end of the term.
  - [ ] ALso get BOTUI working, https://github.com/botui/botui, so I can get vue based protoflio?
  - [ ] Porotflio theme done in vuepress or other.
  !!!
   
  
  #### Section of open source projects
  !!! attention Vuepress-theme-cool
  This contains the todo list for my open source vuepress theme
  - [ ] [GitHub - docarys/markdown-it-admonition: An admonition plugin for markdown-it powered by docarys.io](https://github.com/docarys/markdown-it-admonition)
  - [ ] Adding mindmap package for documentation 
  !!!
  
  !!! hint possibly list of things todo
  Dont expect to ever get here
  - [ ] Update pirates game to use webpack
  - [ ] Update python script that parses uvic job board to use requests?
  - [ ] update dash dashboard
  - [ ] Deploy some garbage apps using go
  !!!
  
  !!! note References
  [GitHub - johannbre/markdown-it-admonition: An admonition plugin for markdown-it powered by docarys.io](https://github.com/johannbre/markdown-it-admonition)
  !!!
'''
tags: [
  "COol"
]
isStarred: false
isTrashed: false
